# VPN
WIREGUARD_PRIVATE_KEY=your_key_here
WIREGUARD_ADDRESSES=your_ip_here
SERVER_CITIES=stuff
# Pihole
PIHOLE_PASSWORD=your_password_here
PIHOLE_LOCAL_IP=192.168.1.100

# Immich DB
IMMICH_DB_PASSWORD=your_password_here

# Disk Monitor
DISKMON_THRESHOLD=85
DISKMON_INTERVAL=5m
DISKMON_QB_USERNAME=
DISKMON_QB_PASSWORD=
DISKMON_NTFY_URL=ntfy://ntfy.sh/your-topic-here

# Timezone (shared)
TZ=America/New_York
PUID=1000
PGID=1000
